*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);

}

header{
    font-family: 'Lobster Two', cursive;
    font-size: 1.8rem;
    margin-bottom: -4px;
    color: rgb(15, 6, 48);
}

.logo{
    overflow: hidden;
    margin-top: -4%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.main{
    height: 100vh;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -5%;
}

.container{
    margin-top: 50px;
}
.act{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.877);
}

button{
    margin: 20px 15px;
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    background-color: rgb(160, 160, 255);
    font-weight: 1000;
    cursor: pointer;
}

.citate{
margin-top: 15px;
margin-bottom: 5px; 
font-family: 'Abril Fatface', cursive;
font-size: 2.2rem;
color: rgb(15, 6, 48);
}

.act, button, .author, footer{
    font-family: 'Montserrat', sans-serif;
}

.author{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.582);
}


footer{
    padding-bottom: 0%;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.788);
}